<section class="container">
  <div class="row">
    <h4>File upload progress</h4>
  </div>
  <div class="row">
    <button class="btn" (click)="uploadFiles()">Upload!</button>
    <span>{{uploadedFiles ? uploadedFiles.length : "No"}} files selected.</span>
  </div>
</section>
