<div class="row" style="margin-top: 15px">
  <div class="progress">
    <div class="progress-bar" [ngStyle]="{ 'width': currentPercentage + '%' }">
      <span>{{currentPercentage}}% Complete</span>
    </div>
  </div>
</div>
